@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');
:root {
    /*Colors*/
    --first: #D8dbe2;
    --second: #000;
    --third: #fff;
    /*Fonts*/
    --mainfont: 'Jost', sans-serif;
    --secondaryfont: 'IBM Plex Sans', sans-serif;
}

* {
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--mainfont);
    margin: 0;
}

section {
    background-color: var(--first);
}

a {
    text-decoration: none;
    color: var(--second);
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--third);
    background-color: var(--second);
    z-index: 2000;
    pointer-events: none;
}

.follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: var(--second);
    background-color: var(--third);
    border-radius: 50%;
    opacity: 0.7;
    pointer-events: none;
    z-index: 1000;
}

/* NAVBAR AND FRONT PAGE SECTION1*/

.section1 {
    background-color: var(--first);
    height: 100vh;
    width: 100%;
}

#smallcog {
    font-size: 40px;
    margin-left: 30px;
    text-shadow: none;
    color: var(--first);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    animation: appear 1s 1s forwards;
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#nav-list {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 0 !important;
}

.hello {
    color: var(--second);
    font-weight: 900;
    font-size: 200px;
    font-family: var(--mainfont);
    margin: 0;
}

.intro {
    font-size: 60px;
    font-weight: 300;
    font-family: var(--mainfont);
    margin-left: 10px;
    opacity: 0;
    animation: appear 1s 2s forwards;
    text-align: center;
    color: var(--second)
}

span {
    color: var(--second);
}

.frontpage-text-area {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list-link {
    background-color: var(--first);
    color: var(--second);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primaryfont);
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
    border: 3px solid var(--second);
    box-shadow: 3px 3px 0 0 var(--first);
    transition: translateY(0.7);
}

.nav-list-link:active {
    box-shadow: none;
    transform: translateY(3px);
}

.nav-list-link:hover {
    background-color: var(--second);
    color: var(--first);
    box-shadow: 3px 3px 0 0 var(--third);
    border-top: 1px solid var(--first);
    border-left: 1px solid var(--first);
    transition: 0.5s ease-in-out;
}

.hamburger {
    display: none;
    margin-right: 40px;
    margin-bottom: 30px;
}

.hamburger:focus {
    outline: 0;
}

@media (max-width:1024px) {
    .hello {
        font-size: 100px;
        text-align: center;
        margin-top: 100px;
    }
    .intro {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .cursor, .follower {
        display: none;
    }
    .hamburger {
        display: block;
        border: 3px solid var(--second);
        width: 150px;
        background-color: transparent;
        color: var(--second);
        font-size: 30px;
        margin: 23px;
        align-self: center;
    }
    #nav-list {
        display: none;
        margin: 20px;
    }
    .nav-list-link {
        margin: -3px 10px;
    }
    .name {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--first);
        width: 100%;
    }
    .frontpage-text-area {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hello {
        font-size: 100px;
        text-align: center;
        margin-top: 200px;
    }
    .intro {
        font-size: 40px;
    }
    .fas.fa-cog {
        display: none!important
    }
}

#nav-list.show {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
}

.cog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    right: 670px;
    top: 520px;
    transform: rotate(145deg);
    margin-top: 250px;
}

.fas.fa-cog {
    color: var(--second);
    font-size: 100px;
    animation: spin 5s infinite linear;
}

#cog1 {
    color: var(--second);
    font-size: 120px;
    animation: spinanti 5s infinite linear;
    margin-top: -12px;
    margin-left: 64px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinanti {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* ABOUT ME SECTION2*/

.information {
    display: flex;
    flex-direction: row;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s ease;
}

.information.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: var(--secondaryfont);
    letter-spacing: -2px;
}

p {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 300;
    font-family: var(--mainfont);
}

.sub-section {
    padding: 80px;
    height: 100%;
}

.headshot {
    width: 300px;
    height: 450px;
    margin-top: 40px;
    border: 1px solid var(--second);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    opacity: 0.8;
}

.headshot-container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .information {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .about {
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    img {
        height: 50px;
        width: 50px;
    }
    .headshot-container {
        position: center;
    }
    img.headshot {
        margin: 0;
    }
}

/*PROJECTS SECTION3*/

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s ease;
}

.project-card.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: ease-in-out 0.7s;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
    .projects {
        font-size: 40px;
    }
}

.project-image {
    margin-top: 20px;
    width: 350px;
    height: 250px;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--secondaryfont);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-link {
    margin: 0 10px 10px;
    padding: 10px 10px;
    text-decoration: none;
    font-family: var(--mainfont);
    font-size: 1rem;
    font-weight: 300;
    color: var(--second);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
}

.project-link:hover {
    background-color: var(--second);
    color: var(--first);
    border: 1px solid var(--second);
    transition: 1s ease-in-out;
}

.paragraph-subtext {
    font-family: var(--mainfont);
    font-size: 1rem;
    font-weight: 300;
    margin: 5px 5px;
}

.projects-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-github-button {
    margin-top: 25px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: var(--second);
    background-color: var(--first);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secondaryfont);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    border: 3px solid var(--second);
    box-shadow: 3px 3px 0 0 var(--second);
    transition: translateY(0.7);
}

.my-github-button:active {
    box-shadow: none;
    transform: translateY(3px);
}

.my-github-button:hover {
    background-color: var(--second);
    color: var(--first)
}

/*CONTACT ME SECTION4*/

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: var(--first);
}

.contact-form {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-top: 40px;
    opacity: 0;
    transition: all 2s ease-out;
    transform: scale(0.5)
}

.contact-form.fade-forward {
    opacity: 1;
    transform: scale(1)
}

@media only screen and (max-width: 1000px) {
    .contact-form {
        width: 23rem;
    }
    .detailsinput {
        max-width: 300px;
    }
    .contactme {
        font-size: 32px;
    }
}

.contact-form input, .contact-form textarea {
    width: 700px;
    padding: 0.5rem;
    margin: 20px 0;
    font-size: 20px;
    font-family: var(--mainfont);
    font-weight: 400;
    border: none;
    color: var(--second);
}

.contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    resize: none;
}

.contact-form input, .contact-form textarea:focus {
    outline: none;
}

.contact-form .contact-form-btn {
    background-color: var(--second);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secondaryfont);
    width: 100px;
    height: 50px;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    border: 3px solid var(--second);
    /* box-shadow: 3px 3px 0 0 black; */
    transition: translateY(0.7);
    color: var(--first);
}

.contact-form .contact-form-btn:active {
    box-shadow: none;
    transform: translateY(2px);
}

.contact-form .contact-form-btn:focus {
    outline: none;
}

.contact-form .contact-form-btn:hover {
    background-color: var(--first);
    color: var(--second);
    transition: 0.7s ease-in-out;
}

/*FOOTER SECTION5*/

footer {
    background-color: var(--second);
    color: var(--first);
    text-align: center;
    padding: 80px;
}

.pfooter {
    font-family: var(--mainfont);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.social {
    margin: 20px;
}

@media only screen and (max-width: 1000px) {
    .pfooter {
        font-size: 10px;
    }
}